<div class="container marginx">
  <section class="vh-100 gradient-custom " >
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Add Room</h3>
              <form [formGroup]="addRoomForm">

                <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <h4>Select House</h4>
                        <select formControlName="houseId" id="houseId" class="form-control form-control-lg" [(ngModel)]="selectedHouseId">
                          <option value="" disabled selected>Select a house</option>
                          <option *ngFor="let house of userHouses" [value]="house.id">{{ house.name }}</option>
                        </select>
                      </div>
                      <div *ngIf="addRoomForm.controls['houseId'].invalid && (addRoomForm.controls['houseId'].touched || addRoomForm.controls['houseId'].dirty)">
                        <div *ngIf="addRoomForm.controls['houseId'].errors.required">
                          House is required.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <img width="200px" [src]="selectedHouseId ? getHouseImage(selectedHouseId) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpC8mEcBVCVvRM6oFG2PydedrVnm9FroC8qDpvTtuPFmy256gGQiDdkYU0qJtwTeLZjiU&usqp=CAU'" class="house-image" alt="House Image" />
                      </div>
                  </div>
                  


                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" formControlName="name" id="name" class="form-control form-control-lg" />
                      <label class="form-label" for="name">Name</label>
                    </div>
                    <div *ngIf="addRoomForm.controls['name'].invalid && (addRoomForm.controls['name'].touched || addRoomForm.controls['name'].dirty)">
                      <div *ngIf="addRoomForm.controls['name'].errors.required">
                        Name is required.
                      </div>
                      <div *ngIf="addRoomForm.controls['name'].errors.minlength">
                        Name must have at least 3 characters.
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="number" id="capacity" formControlName="capacity" class="form-control form-control-lg" />
                      <label class="form-label" for="capacity">Capacity</label>
                    </div>
                    <div *ngIf="addRoomForm.controls['capacity'].invalid && (addRoomForm.controls['capacity'].touched || addRoomForm.controls['capacity'].dirty)">
                      <div *ngIf="addRoomForm.controls['capacity'].errors.required">
                        capacity is required.
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="description" formControlName="description" class="form-control form-control-lg" />
                      <label class="form-label" for="description">Description</label>
                    </div>
                    <div *ngIf="addRoomForm.controls['description'].invalid && (addRoomForm.controls['description'].touched || addRoomForm.controls['description'].dirty)">
                      <div *ngIf="addRoomForm.controls['description'].errors.required">
                        Description is required.
                      </div>
                      <div *ngIf="addRoomForm.controls['description'].errors.minlength">
                        Description must have at least 10 characters.
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="number" id="price" formControlName="price" class="form-control form-control-lg" />
                      <label class="form-label" for="price">Price</label>
                    </div>
                    <div *ngIf="addRoomForm.controls['price'].invalid && (addRoomForm.controls['price'].touched || addRoomForm.controls['price'].dirty)">
                      <div *ngIf="addRoomForm.controls['price'].errors.required">
                        price is required.
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="text" id="imgUrl" formControlName="imgUrl" class="form-control form-control-lg" />
                      <label class="form-label" for="imgUrl">Image URL</label>
                    </div>
                    <div *ngIf="addRoomForm.controls['imgUrl'].invalid && (addRoomForm.controls['imgUrl'].touched || addRoomForm.controls['imgUrl'].dirty)">
                      <div *ngIf="addRoomForm.controls['imgUrl'].errors.required">
                        Image URL is required.
                      </div>
                      <div *ngIf="addRoomForm.controls['imgUrl'].errors.pattern">
                        Invalid URL format. It should start with 'http://' or 'https://'.
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <div class="mt-4 pt-2">
                  <button (click)="addRoom()" class="btn btn-primary btn-lg" type="submit" [disabled]="addRoomForm.invalid">Submit</button>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  