
<div class="mt-5 mb-4">
    <h1 class="m-auto">Choose your Registration Type</h1>
</div>
<div class="new-body margined">
 
    
<div>
    <h3 class="text-center">GUEST</h3>
    <div class="box">
        
        <div class="imgBx">
            <img src="../../../assets/img/booking-hotel-concept.jpg">
        </div>
        <div class="content d-flex flex-column">
            <h2>GUEST<br><span>Register as a Guest</span></h2>
            <div><button routerLink="/signup/client" class="btn btn-primary btn-lg">Join</button>
            </div>
        </div>
        
    </div>
</div>
   <div>
    <h3 class="text-center" >OWNER</h3>
    <div class="box">
        <h3>OWNER</h3>
        <div class="imgBx">
            <img src="../../../assets/img/ownerhotel.avif">
        </div>
        <div class="content d-flex flex-column">
            <h2>OWNER<br><span>Register as Owner</span></h2>
            <div><button routerLink="/signup/owner" class="btn btn-primary btn-lg">Join</button>

        </div>
   </div>
   
    </div>
   
    </div>